.nav-wrapper .side-nav .brand-logo {
    height: 150px;
    width: 100%;
    position: relative;
    align-content: center;
    text-align: center;
    padding-top: 2px;
}

.brand-logo img {
    padding-top: 5px;
}

.jumbotron {
    height: 400px;
    text-align: center;
}

.jumbotron img.logo {
    padding-top: 70px;
    height: 400px;
}

.carousel.carousel-slider{
    height: 100px;
}